# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)
lazydocs
pytest
pytest-asyncio
mkdocs
mkdocs-awesome-pages-plugin
twine
pre-commit
pip-tools
pytest-cov
coveralls
mypy
pylint
