# dependencies list to build requirements.dev.txt
-r requirements.txt

# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin

# test
pytest
pytest-asyncio
pytest-cov
coveralls

# lint
pre-commit
mypy
pylint

# build
-e .
hatchling
toml
